section { 
    // border: 2px solid #BF4646; 
    margin-bottom: 20px;
}

.brief_info {
    padding: 15px;
    display: flex; justify-content: center; flex-wrap: wrap;
    
    .info_card{
        display: flex; flex-direction: column; align-items: center; gap: 15px;
        padding: 5px;
        // border: 2px solid #BF4646;
        max-width: 20rem;
        h1 { font-size: 20px; }
        p { font-size:  3rem;}
    }
}

.main_Exam_Room_info {
    h1 { margin-bottom: 20px; }
    .examRoomCard-container-list {
        // border: 1px solid #46bf60;
        display: flex; justify-content: space-around; gap: 20px; flex-wrap: wrap;
        padding-bottom: 20px;
        .examRoomCard-container{
            .card__header {
                .row{
                    .r_code {font-weight: 600; font-size: 17px; }
                }
            }
            .card__body {
                .card_content {
                    
                    display: flex; align-items: center;
                    gap: 15px;
                    margin-bottom: 12px;
                    .key {
                        font-size: 15px;
                        color: #5c5a5a;
                    }
                    .value {
                        font-size: 17px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

